{{define "index"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="author" content="Myrat Saparov">
		<title>Media Portal</title>
		<link rel="stylesheet" href="/front/site/assets/css/main.css">
		<link href="/front/admin/assets/css/templatemo-style.css" rel="stylesheet" type="text/css">
		<link href="/front/admin/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="/front/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/front/admin/assets/css/mycss.css" type="text/css">
		<link rel="stylesheet" href="/front/admin/assets/css/iziToast.min.css" type="text/css">
	</head>
	<body class="light-gray-bg">
		<div class="templatemo-content-widget templatemo-login-widget white-bg">
			<header class="text-center">
	          <div class="square"></div>
	          <h1>Welcome to Media Portal</h1>
	        </header>
	        <form action="/login" method="post" class="templatemo-login-form">
	        	<div class="form-group">
					<label>eMail</label>
	        		<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>	        		
		              	<input type="text" name="email" class="form-control" placeholder="example@mail.com">
		          	</div>	
	        		<label>Password</label>
					<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>	        		
		              	<input type="password" name="password" class="form-control" placeholder="******">
		          	</div>	<br>
					<button type="submit" class="templatemo-blue-button width-100">Login</button><br><br>
					<a href="/login_google"><button type="submit" class="templatemo-blue-button width-100">Login Width Google</button></a><br><br>
				</div>
	        </form>
			<div>
				Do you not have an account? <a href="/signup">Register.</a>
			</div>
		</div>
	</body>
</html>
{{end}}