{{define "content"}}
<div class="searchContainer">
    <form class="searchLine" action="/index/appSearch" method="post">
        <input class="searchInput" type="text" placeholder="Search..." id="search" name="search" value="{{.searchTerm}}">
        <button type="submit" class="searchButton">
            <img src="/front/site/assets/Images/search.png" width="23px" height="23px">
        </button>
    </form>
</div>
<div class="appBigContainer">
    <div class="appContainer">
        {{range .app}}
        <a href="{{.AppURL}}" download="{{.Name}}">
            <div class="appBlock">
                <div class="appPic">
                    <img src="{{ .PictureURL}}" alt="{{ .Name}}" width="200px" height="200px">
                </div>
                <div class="appDesc">
                    <div class="appTitle">
                        {{.Name}}
                    </div>
                    <div class="appSubTitle">
                        {{.OSID}} - <span>{{.Size}} MB</span>
                    </div>
                </div>
            </div>
        </a>
        {{end}}
    </div>
</div>
{{end}}