{{define "content"}}
<div class="content">
    <div class="bookBigContainer">
        {{range .books}}
        <div class="bookContainer">
            <div class="bookPic">
                <img src="{{.PictureURL}}" alt="book">
            </div>
            <div class="bookDetails">
                <div class="bookText">
                    <div class="bookName">{{.Name}}</div>
                    <div class="bookData">{{.Writer}} - <span style="color: silver;">{{.ReleaseDate}}</span></div>
                    <div class="bookData">{{lessonName .LessonID}} - <span style="color: silver;">{{.Size}} MB</span></div>
                </div>
                <span style="font-style: italic; color: red;">{{if .Verification}}<div style="color: green;">Status: True</div>{{else}}Status: False{{end}}</span>
                <span style="font-style: italic;  color: orange;">{{if .CheckAdmin}}<div style="color: green;">Checked</div>{{else}}Waiting Check{{end}}</span>
            <a download="{{.Writer}}-{{.Name}}.{{bookFormat .ID}}" href="{{.BookURL}}" class="bookDownloadButton">Download</a>
                <div class="bookButtons">    
                    <a href="/admin/book/verify/true/{{.ID}}" class="bookTrueButton">True</a>
                    <a href="/admin/book/verify/false/{{.ID}}" class="bookFalseButton">False</a>
                </div>   
            </div>
        </div>
        {{end}}
    </div>
</div>
{{end}}