{{define "sidebar"}}
<div class="templatemo-sidebar">
    <header class="templatemo-site-header">
        <div class="square"></div>
        <h1>BOOK</h1>
    </header>
    <div class="profile-photo-container">
        <img src="/front/admin/assets/images/Institute-photo.jpg" alt="Profile Photo" class="img-responsive">
        <div class="profile-photo-overlay"></div>
    </div>

    <div class="mobile-menu-icon">
        <i class="fa fa-bars"></i>
    </div>
    <nav class="templatemo-left-nav">
        <ul>
            <li><a href="/admin"><i class="fa fa-home fa-fw"></i>Dashboard</a></li>
            <li><a href="/admin/video"><i class="fa fa-play fa-fw"></i>Videos</a></li>
            <li><a href="/admin/audio" ><i class="fa fa-music fa-fw"></i>Audios</a></li>
            <li><a href="/admin/application"><i class="fa fa-android"></i>Application</a></li>
            <li><a href="/admin/book" class="active"><i class="fa fa-book fa-fw"></i>Books</a></li>
            <li><a href="/admin/logout"><i class="fa fa-sign-out"></i>Sign Out</a></li>
        </ul>
    </nav>
</div>
{{end}}