{{define "content"}}
<div class="bookBigContainer">
    <form class="form" action="/profile/application/add" method="post" enctype="multipart/form-data" name="appForm" onsubmit="return validateForm()">
        <div style="height: 35px; margin-bottom: 10px;">
            <input type="text" class="searchInput" placeholder="Application Name" name="name" required>
        </div>
        <div style="height: 35px; margin-bottom: 10px;">
            <input type="number" class="searchInput" placeholder="Release Year" name="releaseDate" required>
        </div>

        <div>
            <select name="osID" class="searchInput" style="margin-left: 7px; margin-bottom: 10px; height: 35px;" required>
                <option value="" disabled selected>Select Operating System</option>
                {{range .os}}
                    <option value="{{.ID}}">{{osName .ID}}</option>
                {{end}}
            </select>
        </div>

        <div style="height: 35px; margin-bottom: 10px; display: flex; justify-content: center;">
            <label for="app" class="custom-file-upload">
                Select Application
            </label>
            <input type="file" id="app" name="app" style="display: none;" accept=".apk, .pkg, .dmg, .deb, .rpm, .ipa, .exe" required>
        
            <label for="appPicture" class="custom-file-upload">
                Select Application Picture
            </label>
            <input type="file" id="appPicture" name="appPicture" style="display: none;" accept=".jpg, .jpeg, .png">
        </div>

        <button type="submit" class="AddButton">ADD NEW APPLICATION</button>
    </form>
</div>

<script>
    function validateForm() {
        var title = document.forms["appForm"]["name"].value;
        var releaseDate = document.forms["appForm"]["releaseDate"].value;
        var osID = document.forms["appForm"]["osID"].value;
        var app = document.forms["appForm"]["app"].value;

        if (title == "" || releaseDate == "" || osID == "" || app == "") {
            alert("Please fill in all required fields.");
            return false;
        }
    }
</script>
{{end}}
