{{define "content"}}
<div class="content" style="padding-left: 40px; padding-right: 40px; padding-top: 40px;">
    <div class="audioBigContainer">
        {{range .audios}}
        <div class="audioContainer">
            <div class="audioButtons">
                <div class="audioPlayButtons">
                    <audio id="audio-{{.ID}}">
                        <source src="{{.AudioURL}}">
                    </audio>
                    <button class="audioButton" id="PlayPause-{{.ID}}" onclick="PlayPause(this, 'audio-{{.ID}}')">
                        <img src="/front/site/assets/Images/Play.png" alt="Play">
                    </button>
                    <button class="audioButton" onclick="stopAudio('audio-{{.ID}}')">
                        <img src="/front/site/assets/Images/Stop.png" alt="Stop">
                    </button>
                </div>
                <div class="audioOperationButtons">
                    <a href="/admin/audio/verify/true/{{.ID}}" class="audioTrueButton">True</a>
                    <a href="/admin/audio/verify/false/{{.ID}}" class="audioFalseButton">False</a>
                </div>
            </div>
            <div class="audioDetails">
                <div class="audioName" id="audioName-{{.ID}}">{{.Name}}</div>
                <div class="audioSubtitle">{{.Singer}} - <span style="color: silver;">{{lessonName .LessonID}}</span></div>
                <span style="font-style: italic; color: red;">{{if .Verification}}<div style="color: green;">Status: True</div>{{else}}Status: False{{end}}</span>
                <span style="font-style: italic;  color: orange;">{{if .CheckAdmin}}<div style="color: green;">Checked</div>{{else}}Waiting Check{{end}}</span>
            </div>
        </div>
        {{end}}
    </div>
</div>

<script>
    var currentlyPlayingAudio = null;
    var playingAudio = null;

    // Start&Pause
    function PlayPause(button, audioId) {
        const audio = document.getElementById(audioId);
        const playPauseBTN = document.getElementById(`PlayPause-${audioId.split('-')[1]}`);
        const audioName = document.getElementById(`audioName-${audioId.split('-')[1]}`);

        if (!audio) {
            console.error("Audio element not found for id:", audioId);
            return;
        }

        if (audio.paused) {
            if (currentlyPlayingAudio) {
                playingAudio.pause();
                playingAudio.currentTime = 0;
                const playingAudioButton = document.getElementById(`PlayPause-${playingAudio.id.split('-')[1]}`);
                const playingAudioName = document.getElementById(`audioName-${playingAudio.id.split('-')[1]}`);
                playingAudioButton.innerHTML = '<img src="/front/site/assets/Images/Play.png" alt="Play">';
                playingAudioName.style.color = "black";
            }

            audio.play();
            currentlyPlayingAudio = true;
            playingAudio = audio;
            playPauseBTN.innerHTML = '<img src="/front/site/assets/Images/Pause.png" alt="Stop">';
            audioName.style.color = 'lime';
        } else {
            audio.pause();
            currentlyPlayingAudio = false;
            playingAudio = audio;
            playPauseBTN.innerHTML = '<img src="/front/site/assets/Images/Play.png" alt="Play">';
            audioName.style.color = 'black';
        }
    }

    // Stop
    function stopAudio(audioId) {
        const audio = document.getElementById(audioId);
        const audioName = document.getElementById(`audioName-${audioId.split('-')[1]}`);
        const playPauseBTN = document.getElementById(`PlayPause-${audioId.split('-')[1]}`);

        if (!audio) {
            console.error("Audio element not found for id:", audioId);
            return;
        }

        audio.pause();
        audio.currentTime = 0;
        currentlyPlayingAudio = false;
        playPauseBTN.innerHTML = '<img src="/front/site/assets/Images/Play.png" alt="Play">';
        audioName.style.color = 'black';
    }
</script>
{{end}}
