{{define "content"}}
<div class="videoDetailBigContainer">
    <div class="videoDetailContainer">
        <div class="bigVideo">
            <video controls width="850px" height="480px" autoplay>
                <source src="{{.selectedVideo.VideoURL}}">
            </video>
        </div>
        <div class="videoData">
            <div class="videoDetailText">
                <div class="videoDetailTitle">{{ .selectedVideo.Name}}</div>
                <div class="videoDetailTeacherName">{{.selectedVideo.Author}}</div>
                <div class="videoDetailSubtitle">{{.selectedVideo.Description}}</div>
            </div>
            <div class="videoActions">
                <div class="videoViews">{{.selectedVideo.CoutViews}} Views</div>
                <div class="videoLikes">
                    <a href="javascript:void(0);" onclick="likeDislike('{{.selectedVideo.ID}}', 'like')" class="videoLike" data-video-id="{{.selectedVideo.ID}}" data-like-count="{{.selectedVideo.Likes}}">
                        <i class="fa-regular fa-thumbs-up"></i><span class="like-count">{{.selectedVideo.Likes}}</span>
                    </a>
                    <a href="javascript:void(0);" onclick="likeDislike('{{.selectedVideo.ID}}', 'dislike')" class="videoDislike" data-video-id="{{.selectedVideo.ID}}">
                        <i class="fa-regular fa-thumbs-down"></i>
                    </a>
                </div>                              
            </div>
        </div>
    </div>
    <div class="videoDetailOtherVideo">
        {{$selectedVideoID := .selectedVideo.ID}}
        {{range .video}}
        {{ if eq .ID $selectedVideoID }} <div style="display: none">{{end}}
        
        <a href="/index/video/{{.ID}}">
            <div class="otherVideoBigBox">
                <div class="otherVideoBox">
                    <video src="{{.VideoURL}}" width="160px" height="90px"></video>
                </div>
                <div class="videoDesc">    
                    <div class="otherVideoTitle">{{.Name}}</div>
                    <div class="otherVideoSubTitle">{{.Author}} - <span>{{.LessonID}}</span></div>
                </div>
            </div>
        </a>
        
        {{ if eq $selectedVideoID .ID}}</div>{{end}}
        {{end}}
    </div>
</div>
<script>
function likeDislike(videoID, action) {
    const xhr = new XMLHttpRequest();
    xhr.open('GET', `/index/video/${videoID}/${action}`, true);
    xhr.setRequestHeader('Content-Type', 'application/json');

    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
            console.log('Action successful');
            updateLikeDislike(videoID, action);
        } else if (xhr.readyState == 4) {
            console.error('Action failed');
        }
    };

    xhr.send();
}

function updateLikeDislike(videoID, action) {
    const likeButton = document.querySelector(`.videoLike[data-video-id="${videoID}"]`);
    const dislikeButton = document.querySelector(`.videoDislike[data-video-id="${videoID}"]`);
    const likeCountSpan = likeButton.querySelector('.like-count');

    const currentLikeCount = parseInt(likeButton.getAttribute('data-like-count'));

    if (action === 'like') {
        if (likeButton.querySelector('i').classList.contains('fa-regular')) {
            const newLikeCount = currentLikeCount + 1;
        
        likeButton.setAttribute('data-like-count', newLikeCount);
        likeCountSpan.textContent = newLikeCount;

        likeButton.querySelector('i').classList.remove('fa-regular');
        likeButton.querySelector('i').classList.add('fa-solid');
        }
        dislikeButton.querySelector('i').classList.remove('fa-solid');
        dislikeButton.querySelector('i').classList.add('fa-regular');
    } else if (action === 'dislike') {
        if (likeButton.querySelector('i').classList.contains('fa-solid')) {
            const newLikeCount = currentLikeCount - 1;

            likeButton.setAttribute('data-like-count', newLikeCount);
            likeCountSpan.textContent = newLikeCount;

            likeButton.querySelector('i').classList.remove('fa-solid');
            likeButton.querySelector('i').classList.add('fa-regular');
        }

        dislikeButton.querySelector('i').classList.remove('fa-regular');
        dislikeButton.querySelector('i').classList.add('fa-solid');
    }
}

</script>
{{end}}