{{define "navbar"}}
<div class="header">
    <header>
        <div class="headContainer">
            <h1 class="title"><span style="color: silver;">Welcome </span>{{ .user.Name}}.</h1>
        </div>
        <ul>
            <li><a href="/profile/video">Video</a></li>|
            <li><a href="/profile/audio">Audio</a></li>|
            <li><a href="/profile/application">Applications</a></li>|
            <li><a href="/profile/book">Books</a></li>

        </ul>
    </header>
    <hr >
</div>
{{end}}