{{define "content"}}
<div class="searchContainer">
    <form class="searchLine" action="/index/audioSearch" method="post">
            <input class="searchInput" type="text" placeholder="Search..." id="search" name="search" value="{{.searchTerm}}">
        <button type="submit" class="searchButton">
            <img src="/front/site/assets/Images/search.png" width="23px" height="23px">
        </button>
    </form>
</div>

<div class="audioBigContainer">
    <div class="audioMediumContainer">
        {{range .audios}}
            <div class="audioContainer">
                <audio id="{{.ID}}" ontimeupdate="updateTimeline(this)">
                    <source src="{{.AudioURL}}">
                </audio>
                <button class="audioButton" id="PlayPause-{{.ID}}" onclick="playPause(this, '{{.ID}}')">
                    <img src="/front/site/assets/Images/Play.png" alt="Play">
                </button>
                <button class="audioButton" onclick="stopAudio('{{.ID}}')">
                    <img src="/front/site/assets/Images/Stop.png" alt="Stop">
                </button>
                <input type="range" value="0" min="0" max="100" step="1" id="timeline-{{.ID}}" oninput="seekTimeline(this.value, '{{.ID}}')">
                <div class="audioDesc">
                    <div class="audioName" id="audioName-{{.ID}}">
                        {{.Name}}
                    </div>
                    <div class="audioSinger">
                        {{.Singer}} - <span class="lessons">{{lessonName .LessonID}}</span>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
<script>

    let currentlyPlayingAudio;
    let playingAudio;

    //Start&Pause
        function playPause(button, audioId) {
            const audio = document.getElementById(audioId);
            const playPauseBTN = document.getElementById(`PlayPause-${audioId}`);
            const audioName = document.getElementById("audioName-"+audioId)


            if (audio.paused) {
                if  (currentlyPlayingAudio === true) {
                    playingAudio.pause()
                    playingAudio.currentTime = 0
                    const playingAudioButton = document.getElementById(`PlayPause-${playingAudio.id}`);
                    const playingAudioName = document.getElementById("audioName-"+playingAudio.id)
                    playingAudioButton.innerHTML = '<img src="/site/assets/Images/Play.png" alt="Play">';
                    playingAudioName.style.color = "black";
                }

                audio.play();
                currentlyPlayingAudio = true;
                playingAudio = audio;
                playPauseBTN.innerHTML = '<img src="/site/assets/Images/Pause.png" alt="Stop">';
                audioName.style.color = 'lime';
            } else {
                audio.pause();
                currentlyPlayingAudio = false
                playingAudio = audio
                playPauseBTN.innerHTML = '<img src="/site/assets/Images/Play.png" alt="Play">';
                audioName.style.color = 'black'
            }
        }

    //Stop
        function stopAudio(audioId) {
            const audio = document.getElementById(audioId);
            const audioName = document.getElementById("audioName-"+audioId)
            const playPauseBTN = document.getElementById(`PlayPause-${audioId}`);
            const timeline = document.getElementById(`timeline-${audioId}`);

            audio.pause();
            audio.currentTime = 0;
            currentlyPlayingAudio = false
            playPauseBTN.innerHTML = '<img src="/site/assets/Images/Play.png" alt="Play">';
            audioName.style.color = 'black'
            timeline.value = 0;
        }

    //TimeLine
        function updateTimeline(audio){
            const audioID = audio.id;
            const timeline = document.getElementById("timeline-"+audioID)
            timeline.value = (audio.currentTime/audio.duration)*100;
        }

        function seekTimeline(value, audioId){
            const audio = document.getElementById(audioId);
            const percent = value/100;
            audio.currentTime = audio.duration*percent;

        }
    </script>
</div>

{{end}}