{{define "index"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="author" content="Myrat Saparov">
		<title>Media Portal</title>
		<link rel="stylesheet" href="/front/site/assets/css/main.css">
		<link href="/admin/assets/css/templatemo-style.css" rel="stylesheet" type="text/css">
		<link href="/admin/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/admin/assets/css/mycss.css" type="text/css">
		<link rel="stylesheet" href="/admin/assets/css/iziToast.min.css" type="text/css">
	</head>
	<body class="light-gray-bg">
		<div class="templatemo-content-widget templatemo-login-widget white-bg">
			<header class="text-center">
	          <div class="square"></div>
	          <h1>Sign Up for MEDIA PORTAL</h1>
	        </header>
	        <form action="/signup" method="post" class="templatemo-login-form">
	        	<div class="form-group">
					<label>Username</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
						<input type="text" name="username" class="form-control" placeholder="myrat">
					</div>
					<label>eMail</label>
	        		<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></div>
		              	<input type="text" name="email" class="form-control" placeholder="example@mail.com">
		          	</div>
					<label>Phone</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-phone fa-fw"></i></div>
					<input type="number" name="phone" class="form-control" placeholder="61 234567">
					
					</div>
					<label>Password</label>
					<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>	        		
		              	<input type="password" name="password" class="form-control" placeholder="******">
		          	</div><br>
					<button type="submit" class="templatemo-blue-button width-100">Login</button>
					<br>
					<br>
					<button class="templatemo-blue-button width-100">
						<a style="color: white;" href="/signin_google">Sign Up Width Google</a>
					</button><br><br>
					<div>
						Do you have an account? <a href="/login">Login.</a>
					</div>
				</div>
	        </form>			
		</div>
	</body>
</html>
{{end}}