{{define "content"}}
<!--Content-->
<div class="videoBigContainer">
    <div class="videoContainer">
        <a href="/profile/video/add">
        <div class="videoBigBox">
            <div class="videoBox" style="border: 1px solid silver; border-radius: 7px; align-items: center; justify-content: center; padding: 21px;"> 
                <img src="/uploads/universal/add.png" alt="add">
                <div class="videoDesc" style="align-items: center; justify-content: center;">
                        <br>
                        <div class="videoTitle">Add New Video</div>
                </div>
            </div>
        </div></a>
        {{range .videos}}
        <div class="videoBigBox">
            <div class="videoBox" style="border: 1px solid silver; border-radius: 7px; padding: 2px;">
                <video controls width="388px" height="219px">
                    <source src="{{.VideoURL}}">
                </video>
                <div class="videoDesc">
                        <div class="videoTitle">{{.Name}}</div>
                        <div class="videoSubTitle">{{.Author}} - <span>{{lessonName .LessonID}}</span></div>
                </div>
                <div style="display: flex; padding: 5px;">
                    <a href="/profile/video/edit/{{.ID}}" class="bookDeleteButton" style="background-color: orange;margin-right: 10px; border: orange; width: 45%; text-align: center;">Edit</a>
                    <a href="#" onclick="confirmDelete('{{.ID}}')" class="bookDeleteButton" style="width: 45%; text-align: center; margin-left: 10px;">Delete</a>
                </div>
                
            </div>
            
        </div>
        {{end}}
    </div>
</div>
<script>
    //delete alert
    function confirmDelete(appID) {
        if (confirm("Are you sure you want to delete this application?")) {
            window.location.href = "/profile/video/delete/" + appID;
        }
    }
</script>
{{end}}