{{define "content"}}
<div class="audioBigContainer">
    <div class="audioMediumContainer">
        <a href="/profile/audio/add" ><div class="audioContainer">
            <button class="audioButton" style="margin-left: 15px;">
                <img src="/uploads/universal/add.png" alt="Add" style="border-radius: 10px;">
            </button>
            <div class="audioDesc" style="margin-left: 50px;">
                <div class="audioName" id="audioName-{{.ID}}">
                    Add new
                </div>
                <div class="audioSinger">
                    Audio
                </div>
            </div>
        </div></a>
        {{range .audios}}
            <div class="audioContainer">
                <audio id="{{.ID}}" ontimeupdate="updateTimeline(this)">
                    <source src="{{.AudioURL}}">
                </audio>
                <button class="audioButton" id="PlayPause-{{.ID}}" onclick="playPause(this, '{{.ID}}')">
                    <img src="/front/site/assets/Images/Play.png" alt="Play">
                </button>
                <button class="audioButton" onclick="stopAudio('{{.ID}}')">
                    <img src="/front/site/assets/Images/Stop.png" alt="Stop">
                </button>
                <input type="range" value="0" min="0" max="100" step="1" id="timeline-{{.ID}}" oninput="seekTimeline(this.value, '{{.ID}}')">
                <div class="audioDesc" style="width: 180px;">
                    <div class="audioName" id="audioName-{{.ID}}">
                        {{.Name}}
                    </div>
                    <div class="audioSinger">
                        {{.Singer}} - <span class="lessons">{{ .LessonID}}</span>
                    </div>
                </div>
                <div style="display: flex; flex-direction: column; float: right;">
                    <a href="/profile/audio/edit/{{.ID}}" class="bookDeleteButton" style="font-size: 12px; padding: 3px; background-color: orange; margin-bottom: 2px; border: orange; text-align: center;">Edit</a>
                    <a href="#" onclick="confirmDelete('{{.ID}}')" class="bookDeleteButton" style="font-size: 12px; padding: 3px; margin-top: 2px; float: right; text-align: center;">Delete</a>
                </div>
            </div>
        {{end}}
    </div>
    <script>

        var currentlyPlayingAudio;
        var playingAudio;

        //Start&Pause
        function playPause(button, audioId) {
            const audio = document.getElementById(audioId);
            const playPauseBTN = document.getElementById(`PlayPause-${audioId}`);
            const audioName = document.getElementById("audioName-"+audioId)


            if (audio.paused) {
                if  (currentlyPlayingAudio === true) {
                    playingAudio.pause()
                    playingAudio.currentTime = 0
                    const playingAudioButton = document.getElementById(`PlayPause-${playingAudio.id}`);
                    const playingAudioName = document.getElementById("audioName-"+playingAudio.id)
                    playingAudioButton.innerHTML = '<img src="/front/site/assets/Images/Play.png" alt="Play">';
                    playingAudioName.style.color = "black";
                }

                audio.play();
                currentlyPlayingAudio = true;
                playingAudio = audio;
                playPauseBTN.innerHTML = '<img src="/front/site/assets/Images/Pause.png" alt="Stop">';
                audioName.style.color = 'lime';
            } else {
                audio.pause();
                currentlyPlayingAudio = false
                playingAudio = audio
                playPauseBTN.innerHTML = '<img src="/front/site/assets/Images/Play.png" alt="Play">';
                audioName.style.color = 'black'
            }
        }
        //Stop
        function stopAudio(audioId) {
            const audio = document.getElementById(audioId);
            const audioName = document.getElementById("audioName-"+audioId)
            const playPauseBTN = document.getElementById(`PlayPause-${audioId}`);
            const timeline = document.getElementById(`timeline-${audioId}`);

            audio.pause();
            audio.currentTime = 0;
            currentlyPlayingAudio = false
            playPauseBTN.innerHTML = '<img src="/front/site/assets/Images/Play.png" alt="Play">';
            audioName.style.color = 'black'
            timeline.value = 0;
        }

        //TimeLine
        function updateTimeline(audio){
            const audioID = audio.id;
            const timeline = document.getElementById("timeline-"+audioID)
            timeline.value = (audio.currentTime/audio.duration)*100;
        }

        function seekTimeline(value, audioId){
            const audio = document.getElementById(audioId);
            const percent = value/100;
            audio.currentTime = audio.duration*percent;

        }

        //delete alert
        function confirmDelete(appID) {
        if (confirm("Are you sure you want to delete this application?")) {
            window.location.href = "/profile/audio/delete/" + appID;
        }
    }
    </script>
</div>

{{end}}