.appBigContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
}

.appContainer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 7px;
}

.appBlock{
    width: 220px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.appPic{
    width: 200px;
    height: 400px;
}

.appPic img{
    border-radius: 10px;
}

.appDesc{
    text-align: center;
}

.appTitle{
    font-weight: bold;
    font-size: 1.2rem;
}

.appEditButton{
    padding: 5px 15px;
    margin: 10px 15px;
    margin-right: 5px;
    width: 60px;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: orange;
    cursor: pointer;
    text-align: center;
}

.appEditButton:hover{
    background: white;
    color: orange;
}

.appDeleteButton{
    padding: 5px 15px;
    margin: 10px 15px;
    margin-left: 5px;
    width: 60px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
    text-align: center;
}

.appDeleteButton:hover{
    background: white;
    color: red;
}
