.audioBigContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.audioMediumContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
}

.audioContainer{
    width: 500px;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 1px;
    border: 1px solid gray;
    border-radius: 30px;
}

.audioContainer img{
    width: 45px;
    margin: 5px;
    float: left;
    cursor: pointer;
}
.audioButton{
    border: none;
    border-radius: 100%;
    background: none;
}
.audioDesc{
    margin-left: 10px;
}

.audioName{
    font-size: 1.2rem;
    font-weight: bold;
}

.audioSinger{
    font-weight: bolder;
    color: gray;
}

.audioSinger span{
    font-weight: lighter;
    color: silver;
}