form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bookBigContainer{
    display: flex;
    width: 95%;
    justify-content: center;
}

.bookContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
}

.bookBlock{
    display: flex;
    width: 350px;
    justify-content:start;
    padding: 5px 10px;
    border: 1px solid silver;
    border-radius: 10px;
}

.bookPic{
    margin: 5px;
}

.bookPic img{
    border: 1px solid silver;
    border-radius: 10px;
}

.bookText{
    padding: 10px 15px;
    min-height: 132px;
}

.bookTitle{
    font-size: 1.3rem;
    font-weight: bold;
}

.bookSubTitle span{
    font-weight: bolder;
}

.bookAuthor{
    margin-bottom: 15px;
}

.bookCategory{
    font-size: 0.75rem;
}

.bookDownloadButton{
    padding: 5px 15px;
    margin: 10px 15px;
    width: 100%;
    border: 1px solid silver;
    border-radius: 5px;
    background: #2bff33;
    cursor: pointer;
}

.bookDownloadButton:hover{
    background: #7eff81;
    color: #23ff2e;
}

.bookDeleteButton{
    padding: 5px 5px;
    border: 1px solid red;
    border-radius: 5px;
    background: red;
    cursor: pointer;
    color: white;
}

.bookDownloadButton:hover{
    background: white;
    color: red;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #23ff2e;
    color: white;
    border: 1px solid green;
    border-radius: 17px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #45a049;
}

input[type="file"] {
    display: none;
}

.AddButton{
    width: 90%;
    height: 35px;
    color: white;
    background-color: #23ff2e;
    border: 1px solid green;
    border-radius: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease,;
    transition: color 0.3s ease;
}

.AddButton:hover{
    background-color: #7eff81;
    color: #45a049;
}