*{
    margin: 0;
    padding: 0;
    font-family: century gothic, serif;
}

h1{
    margin-bottom: 25px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.langWrap{
    margin-left: 15px;
}

.headContainer{
    display: flex;
    justify-content: center;

}
ul{
    display: flex;
    margin-bottom: 25px;
    font-size: 25px;
    justify-content: center;
}

ul li{
    list-style-type: none;
    margin: 0 15px;
    display: inline-block;
}

ul li a{
    padding:7px 15px;
    border-radius: 5px;
}

ul li a:hover{
    background-color: #7eff81;
}

.backbox{
    display: block;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 5px;
    z-index: 99;
}

.content{
    margin-top: 160px;
    display: block;
}

.home{
    width: 100%;
    height: 450px;
}

.home1{
    display: flex;
    align-items: center;
    width: auto;
    height: 450px;
    color: white;
}

.hometxt{
    font-size: 2rem;
    width: 50%;
    margin-left: 25px;
    
}

.homebtn{
    margin-left: auto;
    margin-right: auto;
}

.homebtn .button{
    color: white;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 25px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: #2bff33;
    box-shadow: 0 0 5px white;
}

.homebtn .button:hover{
    background-color: #7eff81;
}

.mppart{
    height: 500px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.h1{
    font-size: 2rem;
    color: white;
    font-weight: 900;
}

.buttons{
    margin-top: 140px;
    display: flex;
}

.buttonMP{
    font-size: 1.5rem;
    padding: 0 25px;
    border: white 2px solid;
    border-radius: 15px;
    color: white;
    margin: 0 30px;
    box-shadow: 0 0 10px white;
    background-color: #2bff33;
}

.buttonMP:hover{
    background-color: #7eff81;
}

footer{
    text-align: center;
    font-size: large;
    margin-top: 10px;
}