.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.searchLine{
    width: 32rem;
    height: 2.5rem;
    display: flex;
    position: relative;
    margin: 0.5rem;
}

.searchInput{
    border: 1px solid gray;
    border-radius: 1.5rem;
    padding-left: 1rem;
    width: 30rem;
    height: 100%;
    font-family: century gothic, candara, sans-serif;
    font-size: 1rem;
}

.searchButton{
    height: 2.7rem;
    width: 5rem;
    background-color: lime;
    border: 1px solid gray;
    border-radius: 1.5rem;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.searchButton:hover{
    background-color: limegreen;
}
