video{
    object-fit: cover;
}

.videoBigContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoContainer{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
}
.videoBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
video{
    width: 100%;
    border-radius: 5px;
}

.videoDesc{
    padding: 5px 10px;
}

.videoTitle{
    font-size: 1.25rem;
    font-weight: bold;
}

.videoSubTitle{
    font-size: 0.99rem;
    font-weight: bolder;
}

.videoSubTitle span{
    font-weight: normal;
}

/*detail*/
.videoDetailBigContainer {
    width: 100%;
    display: block;
}

.videoDetailContainer{
    display: flex;
    flex-direction: column;
    padding: 25px 15px 25px 25px;
    max-width: 850px;
    max-height: 450px;
    float: left;
}

.bigVideo{
    display: flex;
    width: 850px; 
    height: 480px;
}

.videoData{
    display: flex;
    width: 100%;
}

.videoDetailText{
    padding: 25px;
    width: 50%;
}

.videoDetailTitle{
    font-size: 1.5rem;
    font-weight: bold;
}

.videoDetailTeacherName{
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 15px;
}

.videoDetailSubtitle{
    font-size: 1rem;
    padding-left: 15px;
    margin-top: 15px;
}

.videoActions{
    padding: 25px;
}

.videoViews{
    font-size: 15px;
}

.videoDetailOtherVideo{
    width: 375px;
    min-height: 150px;
    float: right;
    padding: 5px;
    margin: 25px 25px 25px 0;
    border: 1px solid gray;
    border-radius: 5px;
}

.otherVideoBigBox{
    margin: 5px;
    display: flex;
}

.otherVideoBox{
    width: 45%;
}


.otherVideoTitle{
    font-size: 1rem;
    font-weight: bold;
}

.otherVideoSubTitle{
    font-size: 0.7rem;
    font-weight: bolder;
}

.otherVideoSubTitle span{
    font-weight: normal;
}