{{define "content"}}
<div class="videoDetailBigContainer">
    <div class="videoDetailContainer">
        <div class="bigVideo" style=" width: 850px; height: 450px;">
            <video controls>
                <source src="{{.selectedVideo.VideoURL}}">
            </video>
            <div class="videoDetailText">
                <div class="videoDetailTitle">{{ .selectedVideo.Name}}</div>
                <div class="videoDetailTeacherName">{{.selectedVideo.Author}}</div>
                
            </div>

        </div>
    </div>
    <div class="videoDetailOtherVideo">
        {{$selectedVideoID := .selectedVideo.ID}}
        {{range .video}}
        {{ if eq .ID $selectedVideoID }} <div style="display: none">{{end}}
        
        <a href="/video/{{.ID}}">
            <div class="otherVideoBigBox">
                <div class="otherVideoBox">
                    <video src="/{{.VideoURL}}"></video>
                </div>
                <div class="videoDesc">    
                    <div class="otherVideoTitle">{{.Name}}</div>
                    <div class="otherVideoSubTitle">{{.Author}} - <span>{{.LessonID}}</span></div>
                </div>
            </div>
        </a>
        
        {{ if eq $selectedVideoID .ID}}</div>{{end}}
        {{end}}
    </div>
</div>
{{end}}