{{define "content"}}
<div class="appBigContainer">
    <div class="appContainer">
        <a href="/profile/application/add">
            <div class="appBlock" style="border: 1px solid silver; border-radius: 10px; padding: 2px; height: 300px;">
                <div class="appPic">
                    <img src="/uploads/universal/add.png" alt="Add New" width="200px" height="200px">
                </div>
                <div class="appDesc">
                    <div class="appTitle" style="margin-bottom: 35px;">
                        Add New App
                    </div>
                </div>
            </div>
        </a>
        {{range .app}}
        
            <div class="appBlock" style="border: 1px solid silver; border-radius: 10px; padding: 2px; height: 300px;">
                <a href="{{.AppURL}}" download="{{.Name}}.{{appFormat .ID}}">
                    <div class="appPic" style="height: 200px;">
                        <img src="{{ .PictureURL}}" alt="{{ .Name}}" width="200px" height="200px">
                    </div>
                    <div class="appDesc">
                        <div class="appTitle">
                            {{.Name}}
                        </div>
                        <div class="appSubTitle">
                            {{osName .OSID}} - <span>{{.Size}} MB</span>
                        </div>
                    </div>
                </a>
                <div style="display: flex;">
                    <a href="/profile/application/edit/{{.ID}}" class="appEditButton" >Edit</a>
                    <a href="#" class="appDeleteButton" onclick="confirmDelete('{{.ID}}')">Delete</a>
                </div>
            </div>

        {{end}}
    </div>
</div>
<script>
    function confirmDelete(appID) {
        if (confirm("Are you sure you want to delete this application?")) {
            window.location.href = "/profile/application/delete/" + appID;
        }
    }
</script>
{{end}}