{{define "content"}}
<div class="bookBigContainer">
    <form class="form" action="/profile/audio/add" method="post" enctype="multipart/form-data" name="audioForm" onsubmit="return validateForm()">
        <div style="height: 35px; margin-bottom: 10px;">
            <input type="text" class="searchInput" placeholder="Title" name="name" required>
        </div>
        <div style="height: 35px; margin-bottom: 10px;">
            <input type="text" class="searchInput" placeholder="Singer" name="singer" required>
        </div>
        <div>
            <select name="lessonID" class="searchInput" style="margin-left: 7px; margin-bottom: 10px; height: 35px;" required>
                <option value="" disabled selected>Select lesson</option>
                {{range .lessons}}
                    <option value="{{.ID}}">{{lessonName .ID}}</option>
                {{end}}
            </select>
        </div>

        <div style="height: 35px; margin-bottom: 10px; display: flex; justify-content: center;">
            <label for="audio" class="custom-file-upload">
                Select Audio
            </label>
            <input type="file" id="audio" name="audio" style="display: none;" accept=".mp3, .wav" required>
        </div>

        <button type="submit" class="AddButton">ADD NEW AUDIO</button>
    </form>
</div>

<script>
    function validateForm() {
        var title = document.forms["audioForm"]["name"].value;
        var singer = document.forms["audioForm"]["singer"].value;
        var duration = document.forms["audioForm"]["duration"].value;
        var lessonID = document.forms["audioForm"]["lessonID"].value;
        var audio = document.forms["audioForm"]["audio"].value;

        if (title == "" || singer == "" || duration == "" || lessonID == "" || audio == "") {
            alert("Please fill in all fields.");
            return false;
        }
    }
</script>
{{end}}
