{{define "navbar"}}
<div class="header">
    <header>
        <h1><font face="century gothic"><center>Add New Audio</center></font> </h1>

        <ul>
            <li><a href="/profile">Home</a></li>|
            <li><a href="/profile/video">Video</a></li>|
            <li><a href="/profile/audio">Audio</a></li>|
            <li><a href="/profile/application">Applications</a></li>|
            <li><a href="/profile/book">Books</a></li>

        </ul>
    </header>
    <hr width="1100px">
</div>
{{end}}