{{define "head"}}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Media Portal-ADMIN</title>
    <meta name="description" content="This is media portal for TSIEM students">
    <meta name="author" content="Myrat SAPAROV">

    <link href="/front/admin/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/front/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/front/admin/assets/css/templatemo-style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/front/admin/assets/css/mycss.css" type="text/css">
    <link rel="stylesheet" href="/front/admin/assets/css/iziToast.min.css" type="text/css">
    <link rel="stylesheet" href="/front/admin/assets/css/video.css" type="text/css">
    <link rel="stylesheet" href="/front/admin/assets/css/audio.css" type="text/css">
    <link rel="stylesheet" href="/front/admin/assets/css/app.css" type="text/css">
    <link rel="stylesheet" href="/front/admin/assets/css/book.css" type="text/css">
</head>
{{end}}