{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    <div class="templatemo-flex-row">
      {{template "sidebar"}}
      <div class="templatemo-content col-1 light-gray-bg">
        {{template "navbar"}}
        <!-- <div class="templatemo-content-container"> -->
          {{template "content" . }}
          {{template "footer"}}
          {{template "scripts"}}
          {{template "alert" .Alert}}
        <!-- </div> -->
      </div>
    </div>
  </body>
</html>

{{end}}