{{define "scripts"}}
<script src="/front/admin/assets/js/jquery-1.11.2.min.js"></script>
<script src="/front/admin/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/front/admin/assets/js/iziToast.min.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/front/admin/assets/js/templatemo-script.js"></script>
<script>
  const year = new Date()
  document.getElementById("year").innerHTML=year.getFullYear()
</script>
{{end}}
