.appBigContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.appContainer{
    width: 30%;
    min-width: 340px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    padding: 3px;
    margin: 3px;
}

.appPic img{
    width: 160px;
    height: 180px;
    border-radius: 5px;
}

.appDetails{
    margin-left: 7px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    min-height: 40%;
    width: 100%;

}

.appText{
    height: 45%;
}

.appName{
    font-size: 18px;
    font-weight: bold;
}

.appData{
    font-size: 16px;
    font-weight: bolder;
    color: gray;
}

.appButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.appDownloadButton{
    border: 1px solid green;
    border-radius: 3px;
    background-color: green;
    color: white;
    text-align: center;
    transition: 0.3s;
    width: 100%;
    padding: 2px;
    margin-bottom: 10px;
}

.appDownloadButton:hover{
    background-color: white;
    color: green;
}

.appTrueButton{
    border: 1px solid green;
    border-radius: 3px;
    color: green;
    text-align: center;
    transition: 0.3s;
    width: 45%;
    padding: 2px;
    margin-right: 10px;
}

.appTrueButton:hover{
    background-color: green;
    color: white;
}

.appFalseButton{
    border: 1px solid red;
    border-radius: 3px;
    color: red;
    text-align: center;
    transition: 0.3s;
    width: 45%;
    padding: 2px;
}

.appFalseButton:hover{
    background-color: red;
    color: white;
}