.audioBigContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.audioContainer{
    width: 95%;
    min-width: 350px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    margin: 5px;
}

.audioPlayButtons{
    display: flex;
    margin-right: 10px;
}

.audioPlayButtons img{
    width: 50px;
    margin: 3px;
    float: left;
    cursor: pointer;
}
.audioButton{
    border: none;
    border-radius: 100%;
    background: none;
}

.audioOperationButtons{
    display: flex;
    align-items: center;
}

.audioTrueButton{
    width: 43%;
    border: 1px solid green;
    border-radius: 3px;
    text-align: center;
    transition: 0.3s;
    color: green;
    /* margin-top: 13px; */
    margin-right: 5px;
}

.audioTrueButton:hover{
    background-color: green;
    color: white;
}

.audioFalseButton{
    width: 43%;
    border: 1px solid red;
    border-radius: 3px;
    text-align: center;
    transition: 0.3s;
    color: red;
    /* margin-top: 13px; */
    margin-left: 5px;
}

.audioFalseButton:hover{
    background-color: red;
    color: white;
}

.audioName{
    font-size: 20px;
    font-weight: bold;
}

.audioSubtitle{
    font-size: 17px;
    font-weight: bolder;
    color: gray;
}
