.bookBigContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.bookContainer{
    width: 30%;
    min-width: 340px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    padding: 3px;
    margin: 3px;
}

.bookPic img{
    width: 160px;
    height: 210px;
    border-radius: 5px;
}

.bookDetails{
    margin-left: 7px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.bookText{
    height: 50%;
}

.bookName{
    font-size: 18px;
    font-weight: bold;
}

.bookData{
    font-size: 14px;
    font-weight: bolder;
    color: gray;
}

.bookButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookDownloadButton{
    border: 1px solid green;
    border-radius: 3px;
    background-color: green;
    color: white;
    text-align: center;
    transition: 0.3s;
    width: 100%;
    padding: 2px;
    margin-bottom: 10px;
}

.bookDownloadButton:hover{
    background-color: white;
    color: green;
}

.bookTrueButton{
    border: 1px solid green;
    border-radius: 3px;
    color: green;
    text-align: center;
    transition: 0.3s;
    width: 45%;
    padding: 2px;
    margin-right: 10px;
}

.bookTrueButton:hover{
    background-color: green;
    color: white;
}

.bookFalseButton{
    border: 1px solid red;
    border-radius: 3px;
    color: red;
    text-align: center;
    transition: 0.3s;
    width: 45%;
    padding: 2px;
}

.bookFalseButton:hover{
    background-color: red;
    color: white;
}