video{
    width: 350px;
    height: 180px;
    object-fit: cover;
    border-radius: 3px;
}

.videoBigContainer{
    width: 100%;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 5px;
    margin:5px;
    display: flex;
}

.videoContainer{
    width: 350px;
    height: 180px;
    border-radius: 3px;
}

.videoDetails{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.videoName{
    font-size: 25px;
    font-weight: bold;
}

.videoSubTitle{
    font-size: 20px;
    font-weight: bolder;
    color: gray;
}

.videoDesc{
    font-size: 15px;
}

.videoButtons{
    display: flex;
}

.videoTrueButton{
    width: 45%;
    border: 1px solid green;
    border-radius: 4px;
    padding: 3px;
    margin-right: 5px;
    color: green;
    font-size: 17px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.videoTrueButton:hover{
    background-color: green;
    color: white;
}

.videoFalseButton{
    width: 45%;
    border: 1px solid red;
    border-radius: 4px;
    padding: 3px;
    margin-left: 5px;
    color: red;
    font-size: 17px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.videoFalseButton:hover{
    background-color: red;
    color: white;
}