{{define "content"}}
<!--Search Bar-->
<div class="searchContainer">
    <div class="searchLine">
        <form class="searchLine" action="/index/videoSearch" method="post">
        <input class="searchInput" type="text" placeholder="Search..." id="search" name="search" value="{{.searchTerm}}">
        <button type="submit" class="searchButton">
            <img src="/front/site/assets/Images/search.png" width="23px" height="23px">
        </button>
        </form>
    </div>
</div>
<!--Content-->
<div class="videoBigContainer">
    <div class="videoContainer">
        {{range .videos}}
        <div class="videoBigBox">
            <div class="videoBox" controls>
                <a href="/index/video/{{.ID}}">
                <video controls width="388px" height="219px">
                    <source src="{{.VideoURL}}">
                </video>
                <div class="videoDesc">
                        <div class="videoTitle">{{.Name}}</div>
                        <div class="videoSubTitle">{{.Author}} - <span>{{lessonName .LessonID}}</span></div>
                </div>
                </a>
            </div>
        </div>
        {{end}}
    </div>
</div>
<!--Scripts-->
<script>
    function search(){

        const input = document.getElementById("search");
        let filter = input.value.toUpperCase()
        let containers = document.getElementsByClassName("videoBigBox")

        for (let i = 0; i < containers.length; i++) {
            let videoTitle = document.getElementsByClassName('videoTitle')[i];
            let txtValue = videoTitle.textContent || videoTitle.innerText

            if (txtValue.toUpperCase().indexOf(filter) > -1){
                containers[i].style.display = ''
            }else {
                containers[i].style.display = 'none'
            }
        }
    }
    document.getElementById("search").addEventListener("input", search)
</script>
{{end}}