{{define "index"}}
<!DOCTYPE html>
<html lang="en">
	{{template "head"}}
	<body class="light-gray-bg">
		<div class="templatemo-content-widget templatemo-login-widget white-bg">
			<header class="text-center">
	          <div class="square"></div>
	          <h1>Media Portal - ADMIN</h1>
	        </header>
	        <form action="/admin/login" method="post" class="templatemo-login-form">
	        	<div class="form-group">
					<label>eMail</label>
	        		<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>	        		
		              	<input type="text" name="email" class="form-control" placeholder="example@mail.com">
		          	</div>	
	        	</div>
	        	<div class="form-group">
	        		<label>Password</label>
					<div class="input-group">
		        		<div class="input-group-addon"><i class="fa fa-key fa-fw"></i></div>	        		
		              	<input type="password" name="password" class="form-control" placeholder="******">
		          	</div>	
	        	</div>
				<div class="form-group">
					<button type="submit" class="templatemo-blue-button width-100">Login</button>
				</div>
	        </form>
		</div>
	</body>
</html>
{{end}}