{{define "content"}}
<div class="bookBigContainer">
    <div class="bookContainer">
        <div class="bookBlock">
            <div class="bookPic" style="margin-top: 25px;">
                <img src="/uploads/universal/add.png" style="border: none;" width="120px" height="120px">
            </div>

            <div class="bookDesc">
                <div class="bookText">
                    <div class="bookTitle" style="margin-top: 35px; margin-bottom: 20px;">
                        Add new Book
                    </div>
                </div>
                <a href="/profile/book/add" class="bookDownloadButton" style="margin-bottom: 15px;">Add</a>
            </div>
        </div>
        {{range .book}}
            <div class="bookBlock">
                <div class="bookPic">
                    <img src="{{.PictureURL}}" width="120px" height="175px">
                </div>

                <div class="bookDesc">
                    <div class="bookText">
                        <div class="bookTitle">
                            {{.Name}}
                        </div>
                        <div class="bookAuthor">
                            {{.Writer}}
                        </div>
                        <div class="bookSubTitle">
                        <span>{{.Size}} MB</span>
                        </div>
                        <div class="bookCategory">
                            {{lessonName .LessonID}}
                        </div>
                    </div>
                    <a href="{{.BookURL}}" download="{{.Writer}} - {{.Name}}.{{bookFormat .ID}}" class="bookDownloadButton" style="padding: 5px 5px; margin: 5px 5px">Download</a>
                    <a href="/profile/book/delete/{{.ID}}" class="bookDeleteButton">Delete</a>
                    <a href="/profile/book/edit/{{.ID}}" class="bookDeleteButton" style="background-color: orange; border: orange;">Edit</a>
                </div>
            </div>
        {{end}}

    </div>
</div>
{{end}}