{{define "content"}}
<div class="home">
  <div class="home1" style="background-image: url('/front/site/assets/Images/Institute.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;background-position-y: -99px;background-attachment: fixed; ">
    <div class="hometxt">
      Türkmen Döwlet Ykdysadyýet we Dolandyryş Institutynyň Bilim Portaly
    </div>

    <div class="homebtn">
      <a class="button" href="https://tsiem.edu.tm/">tsiem.edu.tm</a>
    </div>

  </div>

</div>

<div class="mppart" style="background-image: url('/front/site/assets/Images/MPpart.jpg');background-repeat: no-repeat;background-size: cover;background-position: center; background-attachment: fixed; height: 450px">
  <div> <br><br><br>
    <div class="h1">Media Portal</div>

    <div class="buttons">
      <a class="buttonMP" href="/index">Home</a>
      <a class="buttonMP" href="/index/video">Video</a>
      <a class="buttonMP" href="/index/audio">Audio</a>
      <a class="buttonMP" href="/index/application">Applications</a>
      <a class="buttonMP" href="/index/book">Books</a>
    </div>
  </div>
</div>
{{end}}