{{define "index"}}
<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
<div class="backbox">
    {{template "navbar"}}
</div>
<br>
<div class="content" style="margin-top: 150px">
    {{template "content" . }}
</div>
{{template "footer"}}
{{template "script"}}
</body>
</html>
{{end}}