{{define "navbar"}}
<div class="header">
    <header>
        <div class="headContainer">
<!--            <select class="langWrap">-->
<!--                <option lang="en" selected>-->
<!--                    EN-->
<!--                </option>-->
<!--                <option lang="ru">-->
<!--                    RU-->
<!--                </option>-->
<!--                <option lang="tm">-->
<!--                    TM-->
<!--                </option>-->
<!--            </select>-->
            <h1 class="title"><a href="/index/">Media Portal</a></h1>
        </div>
        <ul>
            <li><a href="/index/video">Video</a></li>|
            <li><a href="/index/audio">Audio</a></li>|
            <li><a href="/index/application">Applications</a></li>|
            <li><a href="/index/book">Books</a></li>
        </ul>
    </header>
    <hr >
</div>
{{end}}