{{define "content"}}

<div class="content" style="padding-left: 40px; padding-right: 40px; padding-top: 40px;">
     <h2 id="user-span">Users</h2>

    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">eMail</th>
            <th scope="col">Phone №</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {{ range .User}}
        <tr>
            <th scope="row">{{ .ID}}</th>
            <td>{{ .Name}}</td>
            <td>{{.Email}}</td>
            <td>{{.Phone}}</td>
            <td>
                <a href="#" style="color: red; border: 1px solid red; border-radius: 3px; padding: 5px;">Delete this user</a>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>

</div>
{{end}}