{{define "navbar"}}
<div class="templatemo-top-nav-container">
    <div class="row">
        <nav class="templatemo-top-nav col-lg-12 col-md-12">
            <ul class="text-uppercase">
                <li><a href="/admin" class="active">Admin panel</a></li>
                <li><a href="/admin/login">Sign in form</a></li>
                <li><a href="/admin/lesson">Lessons</a></li>
                <li><a href="/admin/os">Operating Systems</a></li>
            </ul>
        </nav>
    </div>
</div>
{{end}}