{{define "content"}}
<div class="searchContainer">
    <form class="searchLine" action="/index/bookSearch" method="post">
        <input class="searchInput" type="text" placeholder="Search..." id="search" name="search">
        <button type="submit" class="searchButton">
            <img src="/front/site/assets/Images/search.png" width="23px" height="23px">
        </button>
    </form>
</div>
<div class="bookBigContainer">
    <div class="bookContainer">
        {{range .book}}
            <div class="bookBlock">
                <div class="bookPic">
                    <img src="{{.PictureURL}}" width="120px" height="175px">
                </div>

                <div class="bookDesc">
                    <div class="bookText">
                        <div class="bookTitle">
                            {{.Name}}
                        </div>
                        <div class="bookAuthor">
                            {{.Writer}}
                        </div>
                        <div class="bookSubTitle">
                        <span>{{.Size}} MB</span>
                        </div>
                        <div class="bookCategory">
                            {{lessonName .LessonID}}
                        </div>
                    </div>
                    <a href="{{.BookURL}}" download="{{.Writer}} - {{.Name}}.{{bookFormat .ID}}" class="bookDownloadButton">Download</a>
                </div>
            </div>
        {{end}}
    </div>
</div>
{{end}}