{{define "footer"}}
<footer style="margin-bottom: 25px">
    Copyright © <span id="year"></span> , Created & Desined by - Myrat Saparov
</footer>

<script>
    const year = new Date()
    document.getElementById("year").innerText = year.getFullYear()
</script>
{{end}}