{{define "head"}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Myrat Saparov">
    <title>Media Portal</title>
    <link href="/front/admin/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/front/site/assets/css/main.css">
    <link rel="stylesheet" href="/front/site/assets/css/video.css">
    <link rel="stylesheet" href="/front/site/assets/css/audio.css">
    <link rel="stylesheet" href="/front/site/assets/css/application.css">
    <link rel="stylesheet" href="/front/site/assets/css/book.css">
    <link rel="stylesheet" href="/front/site/assets/css/search.css">
    
</head>
{{end}}