{{define "searchBar"}}
    <div class="searchContainer">
        <form class="searchLine" action="/index/audioSearch" method="post">
                <input class="searchInput" type="text" placeholder="Search..." id="search" name="search">
            <button type="submit" class="searchButton">
                <img src="/front/site/assets/Images/search.png" width="23px" height="23px">
            </button>
        </form>

<!--        <div class="filters">-->
<!--            <select id="lesson">-->
<!--                <option value="0">None</option>-->
<!--                {{range .lesson}}-->
<!--                <option value="{{.ID}}">{{.LessonName}}</option>-->
<!--                {{end}}-->
<!--            </select>-->
<!--        </div>-->
    </div>

<!--<script>-->
<!--    function search(){-->

<!--        const input = document.getElementById("search");-->
<!--        let filter = input.value.toUpperCase()-->
<!--        let containers = document.getElementsByClassName("audioContainer")-->

<!--        for (let i = 0; i < containers.length; i++) {-->
<!--            let audioName = document.getElementsByClassName('audioName')[i];-->
<!--            let txtValue = audioName.textContent || audioName.innerText-->

<!--            if (txtValue.toUpperCase().indexOf(filter) > -1){-->
<!--                containers[i].style.display = ''-->
<!--            }else {-->
<!--                containers[i].style.display = 'none'-->
<!--            }-->
<!--        }-->
<!--    }-->

<!--    function filterLesson() {-->
<!--        const selectedLesson = document.getElementById("lesson")-->
<!--        const selectedLessonIndex = selectedLesson.options[selectedLesson.selectedIndex];-->
<!--        const selectedLessonName = selectedLessonIndex.innerText-->
<!--        let containers = document.getElementsByClassName("audioContainer");-->

<!--        for (let i = 0; i < containers.length; i++) {-->
<!--            let lessonName = document.getElementsByClassName("lessons")[i];-->
<!--            let textValue = lessonName.textContent || lessonName.innerText-->

<!--            if (selectedLessonName === "None" || textValue.indexOf(selectedLessonName) > -1){-->
<!--                containers[i].style.display = '';-->
<!--            }else {-->
<!--                containers[i].style.display = 'none'-->
<!--            }-->
<!--        }-->

<!--    }-->


<!--    document.getElementById("lesson").addEventListener("change", filterLesson)-->
<!--    document.getElementById("search").addEventListener("input", search)-->
<!--</script>-->
{{end}}