{{define "navbar"}}
<div class="header">
    <header>
        <h1><font face="century gothic"><center>Audio</center></font> </h1>

        <ul>
            <li><a href="/index">Home</a></li>|
            <li><a href="/index/video">Video</a></li>|
            <li><a href="/index/audio">Audio</a></li>|
            <li><a href="/index/application">Applications</a></li>|
            <li><a href="/index/book">Books</a></li>

        </ul>
    </header>
    <hr width="1100px">
</div>
{{end}}