{{define "content"}}
<div class="bookBigContainer">
    <form class="form" action="/profile/book/add" method="post" enctype="multipart/form-data" name="bookForm" onsubmit="return validateForm()">
        <div style="height: 35px; margin-bottom: 10px;">
            <input type="text" class="searchInput" placeholder="Title" name="name">
        </div>
        <div style="height: 35px; margin-bottom: 10px;">
            <input type="text" class="searchInput" placeholder="Author" name="author">
        </div>
        <div style="height: 35px; margin-bottom: 10px;">
            <input type="number" class="searchInput" placeholder="Realese Date" name="realeseDate">
        </div>

        <div>
            <select name="lessonID" class="searchInput" style=" margin-left: 7px; margin-bottom:  10px; height: 35px;">
                {{range .lessons}}
                    <option value="{{.ID}}">{{lessonName .ID}}</option>
                {{end}}
            </select>
        </div>

        <div style="height: 35px; margin-bottom: 10px; display: flex; justify-content: center;">
            <label for="book" class="custom-file-upload">
                Select Book
            </label>
            <input type="file" id="book" name="book" style="display: none;" accept=".pdf, .doc, .docx">
        
            <label for="bookPicture" class="custom-file-upload">
                Select Book Picture
            </label>
            <input type="file" id="bookPicture" name="bookPicture" style="display: none;" accept=".jpg, .jpeg, .png">
        </div>

        <button type="submit" class="AddButton">ADD NEW BOOK</button>
    </form>
</div>

<script>
    function validateForm() {
        var title = document.forms["bookForm"]["name"].value;
        var author = document.forms["bookForm"]["author"].value;
        var releaseDate = document.forms["bookForm"]["realeseDate"].value;
        var lessonID = document.forms["bookForm"]["lessonID"].value;
        var book = document.forms["bookForm"]["book"].value;
        var bookPicture = document.forms["bookForm"]["bookPicture"].value;

        if (title == "" || author == "" || releaseDate == "" || lessonID == "" || book == "" || bookPicture == "") {
            alert("Please fill in all fields.");
            return false;
        }
    }
</script>
{{end}}