{{define "content"}}
<div class="videoBigContainer">
    <form class="form" action="/profile/video/add" method="post" enctype="multipart/form-data" name="videoForm" onsubmit="return validateForm()">
        <div style="height: 35px; margin-bottom: 10px;">
            <input type="text" class="searchInput" placeholder="Title" name="Name" required>
        </div>
        <div style="height: 160px; margin-bottom: 10px;">
            <textarea name="Description" id="description" placeholder="Description" rows="8" cols="70" style="border-radius: 17px; padding: 10px;"></textarea>
        </div>
        <div>
            <select name="LessonID" class="searchInput" style="margin-left: 7px; margin-bottom: 10px; height: 35px;" required>
                <option value="" disabled selected>Select lesson</option>
                {{range .lessons}}
                    <option value="{{.ID}}">{{lessonName .ID}}</option>
                {{end}}
            </select>
        </div>
    
        <div style="height: 35px; margin-bottom: 10px; display: flex; justify-content: center;">
            <label for="video" class="custom-file-upload">
                Select Video
            </label>
            <input type="file" id="video" name="video" style="display: none;" accept=".mp4, .avi, .mov, .wmv, .mpeg, .webm">
        </div>
    
        <button type="submit" class="AddButton">ADD NEW VIDEO</button>
    </form>    
</div>

<script>
    function validateForm() {
        var title = document.forms["videoForm"]["name"].value;
        var description = document.forms["videoForm"]["description"].value;
        var lessonID = document.forms["videoForm"]["lessonID"].value;
        var video = document.forms["videoForm"]["video"].value;

        if (title == "" || description == "" || lessonID == "" || video == "") {
            alert("Please fill in all fields.");
            return false;
        }
    }
</script>
{{end}}
