{{define "content"}}
<div class="content" style="padding-left: 30px; padding-right: 50px; padding-top: 30px;">
    {{range .videos}}
    <div class="videoBigContainer">
        <div class="videoContainer">
            <video src="{{.VideoURL}}" controls></video>
        </div>
        <div class="videoDetails">
            <div class="videoName">{{.Name}}</div>
            <div class="videoSubTitle">
                {{.Author}} - <span style="color: silver;">{{lessonName .LessonID}}</span>
            </div>
            <div class="videoDesc">{{.Description}}</div>
            <span class="videoDefaultStatus" style="font-style: italic; font-size: larger;">{{if .Verification}}True{{else}}False{{end}}</span>
            <span style="font-style: italic; font-size: larger; color: orange;">{{if .CheckAdmin}}<div style="color: green;">Checked</div>{{else}}Waiting Check{{end}}</span>
            <div class="videoButtons">
                <a href="/admin/video/verify/true/{{.ID}}" class="videoTrueButton">True</a>
                <a href="/admin/video/verify/false/{{.ID}}" class="videoFalseButton">False</a>
            </div>
        </div>
    </div>
    {{end}}
</div>
<script>
    document.querySelectorAll('.videoBigContainer').forEach(container => {
        const defaultStatusElement = container.querySelector('.videoDefaultStatus');
        const defaultStatus = defaultStatusElement.textContent.trim(); // Get the text content and trim whitespace
    
        if (!defaultStatus.startsWith('Default:')) {
            defaultStatusElement.textContent = 'Status: ' + defaultStatus;
        }
        
        defaultStatusElement.style.color = defaultStatus.includes('True') ? 'green' : 'red';
    });
    </script>
{{end}}
