{{define "content"}}
<div class="content" style="padding:10px;">
    <div class="appBigContainer">
        {{range .apps}}
        <div class="appContainer">
            <div class="appPic">
                <img src="{{.PictureURL}}" alt="app">
            </div>
            <div class="appDetails">
                <div class="appText">
                    <div class="appName">{{.Name}}</div>
                    <div class="appData">{{osName .OSID}} - <span style="color: silver;">{{.Size}} MB</span></div>
                </div>
                <span style="font-style: italic; color: red;">{{if .Verification}}<div style="color: green;">Status: True</div>{{else}}Status: False{{end}}</span>
                <span style="font-style: italic;  color: orange;">{{if .CheckAdmin}}<div style="color: green;">Checked</div>{{else}}Waiting Check{{end}}</span>
            <a download="{{.Name}}.{{appFormat .ID}}" href="{{.AppURL}}" class="appDownloadButton">Download</a>
                <div class="appButtons">    
                    <a href="/admin/application/verify/true/{{.ID}}" class="appTrueButton">True</a>
                    <a href="/admin/application/verify/false/{{.ID}}" class="appFalseButton">False</a>
                </div>   
            </div>
            
        </div>
        {{end}}
    </div>
</div>
{{end}}