{{define "content"}}

<div class="content">
    <h2 >Add Lesson</h2>
    <form action="/admin/lesson/add" method="POST" style="margin-top: 25px; margin-bottom: 25px">
        <input name="lessonName" type="text" class="form-control" placeholder="Lesson">
        <button type="submit" class="btn-group" style="margin-top: 15px; float: right; background: lime; border: 1px solid gray; border-radius: 5px; width: 50px; height: 30px">Add</button>
    </form>

     <h2 id="user-span">Lessons</h2>

    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Lesson name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {{ range .lesson}}
        <tr>
            <th scope="row">{{.ID}}</th>
            <td>{{.LessonName}}</td>
            <td>
                <a href="/admin/lesson/delete/{{.ID}}"><i class="fa-solid fa-trash-can" style="color: red;width: 35px;height: 35px; line-height: 35px; text-align: center; border: 1px solid red; border-radius: 3px; margin-right: 5px"></i></a>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>

</div>
{{end}}